<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Spano Book Notes</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs') %>

      <div class="grid_container br">
        <img src="<%= book.image_link %>" alt="Book Image" />

        <div class="grid_content">
          <h2><%= book.title %> - By <%= book.author %></h2>

          <div>
            Date Read: <%= new Date(book.read_date).toLocaleDateString('en-US',
            { month: 'short', day: 'numeric', year: 'numeric' }) %>
          </div>

          <br />

          <div>Rating: <%= book.rating %></div>

          <br />

          <div>
            Go to the <a href="<%= book.book_link %>">Amazon page</a> for
            details and reviews
          </div>

          <br />

          <div>Go back to <a href="/">my full list of books</a>.</div>
        </div>
      </div>

      <div class="br"><%= book.notes_summary %></div>

      <br />

      <h3>My Notes:</h3>

      <div><%= book.notes %></div>

      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
