<!DOCTYPE html>
<html lang="en">
    <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
        <title>Spano Book Notes</title>
    </head>
    <body>
        <h1>Spano Book Notes</h1>
        <div>
            <% result.forEach(column => { %>
                <div>
                    <img src="<%= column.image_link %>" alt="Book Image"/>
                    <div>
                        <a href="/<%= column.id %>">
                        <h2><%= column.title %> - by <%= column.author %></h2>
                        </a>
                        <div><%= column.notes_summary %></div>
                        <div><a href="">Read my notes</a>, or go to the <a href="<%= column.book_link %>">Amazon page</a> for details and reviews</div>
                    </div>
                </div>
                <div>Notes: <%= column.notes %></div>
            <% }) %>
        </div>
    </body>
</html>